@import './colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}


//////////////////////// NAVIGATION ////////////////////////
nav {
    .nav__items {
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;

        a,
        a::before,
        a::after {
            transition: .3s;
        }


        a {
            position: relative;
            padding: 10px 20px;
            color: $main-color;
            text-decoration: none;
            margin: 10px 5px 0 5px;
            font-size: 25px;
        }

        a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            background-color: $main-color;
            z-index: -1;
        }

        a:hover {
            color: white;
        }

        a:hover::after {
            height: 100%;
        }
    }

}

//////////////////////// FORMS ////////////////////////
.add-item,
.edit-item,
.delete-item {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -50%;
    transition: left 1s;
    background: #238aef;
}

.active {
    left: 0%;
}

.form-style {
    margin-top: 50vh;
    width: 500px;
    padding: 10px 20px;
    background: #238aef;
    margin: 10px auto;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;

    legend {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    input,
    select {
        font-family: 'Ubuntu', sans-serif;
        background: rgba(255, 255, 255, .1);
        border: none;
        border-radius: 4px;
        font-size: 15px;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background-color: #2876c1;
        color: white;
        margin-bottom: 30px;
        transition: transform .3s;
    }

    input::placeholder {
        color: white;
    }

    input:hover,
    select:hover {
        transform: scale(1.05);
    }

    input[type="submit"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #195EFF;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        margin-bottom: 10px;
        transition: transform .3s;
    }

    input[type="submit"]:hover {
        transform: scale(1.05);
    }
}